geopy==2.4.1
numpy==1.26.4
pandas==2.2.3
jsonschema==4.23.0
tqdm==4.66.6
openai==1.53.0
json_repair==0.30.0
scikit-learn==1.5.2
modelscope==1.20.0
packaging==24.2
transformers==4.51.3
z3==0.2.0
vllm==0.8.5
fuzzywuzzy==0.18.0
matplotlib==3.9.4
seaborn==0.13.2
datasets==3.3.2
httpx==0.27.2
accelerate==1.6.0
z3-solver==4.14.1.0
flashinfer-python==0.2.5
tiktoken==0.9.0
scipy==1.16.1
pypinyin==0.55.0
ortools==9.10.4067
protobuf==5.29.5
numpy==2.3.2
immutabledict==4.2.1
haversine==2.9.0
bm25s==0.2.13
absl==2.3.1

-f https://download.pytorch.org/whl/cu121
torch==2.6.0